{% extends "base.html" %}

{% block body %}

<h1>{{ computer }}</h1>

{% if gif %}
<img src="http://i0.kym-cdn.com/photos/images/original/000/056/667/madagascar.gif" />
{% endif %}

<form method="POST">
    {% csrf_token %}
    <select name="status">
        <option value="shutdown">Shutdown</option>
        <option value="hibernation">Hibernation</option>
        <option value="restart">Restart</option>
        <option value="logoff">Log off</option>
        <option value="lock">Lock</option>
        <!-- <option value="ebay">Ebay</option> -->
    </select>
    <br>
    <button type="submit" class="btn">Initiate</button>
</form>
{% endblock body %}
