{% extends "base.html" %}

{% block body %}
<h1>Status Enforcer</h1>
<p class="lead">Status Enforcer is a network administration tool used for for issuing remote commands and diagnostics.</p>

<h2>Features</h2>
<ul>
    <li>Remote Commands<li>
    <ul>
        <li>Shutdown</li>
    </ul>
</ul>

<img src="/static/img/team.jpg" />

<iframe width="100%" height="100%" src="https://docs.google.com/document/pub?id=1pU1Zj7E5HnY9CSWpqr-C3m67-VY90jHvOaIGjgjvKuI&amp;embedded=true"></iframe>

<h2>Team</h2>
{% endblock body %}
