{% extends "base.html" %}

{% block body %}

<script>
    function reloader()
    {
        setTimeout(function() {window.location.reload();}, 1000);
    }
    window.onload = reloader
</script>

<!--
<a href="/killswitch"><img src="static/img/greenButton.jpg" onmouseover="this.src='static/img/TROUBLE-BUTTON.png'" onmouseout="this.src='static/img/greenButton.jpg'" /></a>-->

<table class="table table-bordered table-striped">
    <caption>Computer Listing</caption>
    <thead>
        <tr>
            <th>Online</th>
            <th>Computer</th>
            <th>ID</th>
            <th>Last connection</th>
        </tr> 
    </thead>
    <tbody>
        {% for computer in computers %}
        <tr>
            <td>
            {% if computer.connected %}
            <a href="{{ computer.get_absolute_url }}"><span class="badge badge-success">{{ computer.id }}</span></a>
            {% else %}
            <a href="{{ computer.get_absolute_url }}"><span class="badge badge-important">{{ computer.id }}</span></a>
            {% endif %}
            </td>
            <td>
                <a href="{{ computer.get_absolute_url }}">{{ computer.name }}</a>
            </td>
            <td>{{ computer.pk }}</td>
            <td>{{ computer.activityLength }}</td>
        </tr> 
        {% endfor %}
    </tbody>
</table>
{% endblock body %}
